.task_list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.delete_button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 300px;
}

.no_tasks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
